name: qr_code_reader_app
description: A new Flutter project.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.0.5 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  get: ^4.6.5
  qr_code_scanner: ^1.0.1
  simple_vcard_parser: ^0.2.0
  dio: ^5.4.1
  infinite_scroll_pagination: ^4.0.0
  url_launcher: ^6.1.14
  intl: ^0.19.0
  shimmer: ^3.0.0
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0
  flutter_launcher_icons: ^0.13.1

flutter:
  uses-material-design: true
  assets:
    - assets/images/

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/icon/icon.png"
